@font-face {
    font-weight: 400;
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-weight: 700;
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
    font-weight: 300;
    font-family: "Poppins";
    src: url("../fonts/Poppins-Light.ttf");
}

* {
    margin: 0;
    padding: 0;
  }

.bg_blue {
    background: #43BAFD0F;
}

.bg_yellow {
    background: #FFD69633;
}

  
header, main {
    font-family: "Poppins";
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 45px 0;
  }

.logo {
    font-family: "Poppins";
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    color: #0E0578;
    padding-left: 75px;
    text-decoration: none;
}

.header .menu ul {
    display: flex;
    list-style: none;
    justify-content: space-around; 
    width: 60vw;
  }
  
.header .menu ul li {
    margin: 0px 0px;
}

.header .menu ul a {
    text-decoration: none;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
    color: #686565;
  }

main {
    margin: 200px 0;
}

.welcome {
    margin: 0px 0px 0px 75px;
    column-count: 2;
    column-gap: 5vw;
    column-width: 570px;
    text-align: left;
}


p {
    color: #383838;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h1 {
    color: #2000E7;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 20px;
}

h2 {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
    color: #2000E7;
}

#color_yellow {
    color: #F2BD00;
    display: inline;
}

.photo_container {
    display: flex;
    justify-content: center;
    break-inside: avoid;
}

.photo {
    width: 564px;
    height: 564px;
    border-radius: 0px 0px 0px 191px;
    background-image: url('../assets/photo.jfif');
    box-shadow: 36px -32px 0px 0px rgba(135, 117, 249, 0.50);
    background-position: center;
}

button {
    box-sizing: border-box;
    border-radius: 10px;
    border-style: none;
    box-shadow: 11px 21px 15px 6px rgba(0, 0, 0, 0.25);
    width: 246px;
    height: 72px;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 75px;
    margin-bottom: 75px;
}

.button_blue {
    background: #2000E7;
    color: #FFF;
}

.button_white {
    background: #f6f5fd;
    border: 2px solid #2000E7;
    color: #2000E7;
    margin-left: 75px;
}

.about_me {
    margin-top: 160px;
    width: 100%;
    height: 910px;
    background-image: url(../assets/juggler.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
    background-position: right;
    padding-top: 200px;
    padding-left: 75px;
}

.about_me h1 {
    letter-spacing: 16.8px;
}

.about_me div {
    width: 415px;
}

.about_me p{
    color: #000;
}

.about_me button {
    margin-left:  20px;
}

.my_projects {
    margin-top: 300px;
    width: 100%;
    height: 910px;
    padding-top: 35px;
}

.my_projects h1 {
    letter-spacing: 9.6px;
    text-align: center;
}

.my_projects p {
color: #000000;
text-align: center;
}

.img {
    border-radius: 6px;
    width: 246px;
    height: 180px;
    padding-left: 100px;
    margin-top: 50px;
}

img {
    max-width: 100%;
    height: auto;
}

#no_margin {
    margin: 0;
}




.column-3 {    
    column-count: 3;
    margin-top: 50px;
    /* column-width: auto; */
    /* column-gap: 30px; */
}

.column-2 {    
    column-count: 2;
    /* column-width: auto; */
    /* column-gap: 30px; */
}

.column-4 {    
    column-count: 4;
    /* column-width: auto; */
    /* column-gap: 30px; */
}
