@font-face {
    font-weight: 400;
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-weight: 700;
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
    font-weight: 300;
    font-family: "Poppins";
    src: url("../fonts/Poppins-Light.ttf");
}

* {
    margin: 0;
    padding: 0;
  }
  
header, main {
    font-family: "Poppins";
}

/* header {
    padding: 0;
    line-height: 72px;
    display: flex;
} */

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 45px 0;
  }

.logo {
    font-family: "Poppins";
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    color: #0E0578;
    padding-left: 75px;
    text-decoration: none;
}

.header .menu ul {
    display: flex;
    list-style: none;
    justify-content: space-around; 
    width: 60vw;
  }
  
.header .menu ul li {
    margin: 0px 0px;
}

.header .menu ul a {
    text-decoration: none;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
    color: #686565;
  }

main {
    margin: 200px 0;
}

.about_me {
    margin: 0px 0px 0px 75px;
    column-count: 2;
    column-gap: 5vw;
    column-width: 620px;
    text-align: left;
}

.about_me p {
    color: #383838;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h1 {
    color: #2000E7;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 450px;
}

h2 {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
    color: #2000E7;
}

#color_yellow {
    color: #F2BD00;
}

.photo_container {
    display: flex;
    justify-content: center;
    break-inside: avoid;
}

.photo {
    width: 564px;
    height: 564px;
    border-radius: 0px 0px 0px 191px;
    background-image: url('../assets/photo.jfif');
    box-shadow: 36px -32px 0px 0px rgba(135, 117, 249, 0.50);
    background-position: center;
}

/* Разбить стили по цветам */
button {
    box-sizing: border-box;
    border-radius: 10px;
    border-style: none;
    box-shadow: 11px 21px 15px 6px rgba(0, 0, 0, 0.25);
    width: 246px;
    height: 72px;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button_blue {
    background: #2000E7;
    color: #FFF;
}

.button_white {
    background: #f6f5fd;
    border: 2px solid #2000E7;
    color: #2000E7;
}


.column-4 {    
    column-count: 4;
    /* column-width: auto; */
    /* column-gap: 30px; */
}

.column-3 {    
    column-count: 3;
    /* column-width: auto; */
    /* column-gap: 30px; */
}

.column-2 {    
    column-count: 2;
    /* column-width: auto; */
    /* column-gap: 30px; */
}

